


{% extends 'layout.twig' %}
{% block Breadcrumb %}<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="../public/index.php?p=home">Accueil</a></li>
      <li class="breadcrumb-item"><a href="../public/index.php?p=posts">articles</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
    </ol>
  </nav>{% endblock %}




{% block content %}

<div class="container text-justify">
    <article class="row align-items-center mx-5">
        <header class="row d-block">
            <div class=" mx-auto  mb-5 bg-secondary">
                <img class="im-fluid"src="../public/img/portfolio/fullsize/{{ post.post_id }}.jpg"  alt="...">
            </div>
            <div class="row">
                <h1 class="col-xs-10 col-md-12 mb-3 ml-3">{{ post.title }}</h1><br />
                <h5 class="col-xs-10 col-md-12 mb-3 ml-3"><em>mis à jour le :</em> {{post.update_date}}<em> Auteur:</em> {{post.author}}</h5></p>
            </div>
            
        </header>
        <div class="row p-3">
            <h4>{{ post.chapo | capitalize }}</h4>    
        </div>
        <div class="row mt-5  mb-5 bg-light">
            {{post.content | nl2br }}
        </div>

        <footer>
            <h3>Laissez-nous un commentaire</h3>
            <form action="../public/index.php?" method="post">
                <p><textarea name="comment" rows="8" cols="45"></textarea></p>
                <p><input type="hidden" name="userId" value="{{ post.user_id}}"></p>
                <p><input type="hidden" name="id" value="{{ post.post_id }}"></p>
                <p><input type="hidden" name="p" value="post"></p>
                <p>
                    <input type="submit" name="btn" value="laisser un commentaire" class="btn btn-primary">
                    <input class="btn btn-primary" type="reset" value="réinitialiser">
                </p>
            </form>
        </footer>
    </article>
    <div class="row mx-5">
        <h3>Liste de commentaires concernant l'article : </h3>
        <ul class="list-unstyled">
            {% for comment in comments %}
            
                <li class="media my-4 bg-light w-80 l-5 border">
                    <img src="../public/img/mypic.png" class="mr-3 rounded-circle img-thumbnail imgtosmall" alt="...">
                    <div class="media-body">
                    <p><em>envoyé le :</em> {{comment.coment_date}} <em>par :</em> :{{ comment.username }}</p>
                    <hr>
                    <h5 class="mt-0 mb-1">{{ comment.author }}</h5>
                   <p class="font"> {{ comment.content }} </p>
                    
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
{% block pagination %}
{% endblock %}
{% block footer %} 
{{ parent() }}

{% endblock %}




