{% extends "accountTemplate.twig" %}

  

    {% block content %}
    {% if message %}
    <p class="alert alert-{{ type }}">{{ message }}</p>
    {% endif %}
    <table class="table table-striped table-responsive-md">
        <thead>
            <tr>
                <th scope="col">N° article</th>
                <th scope="col">Titre</th>
                <th scope="col">Auteur</th>
                <th scope="col">modifié le</th>
            </tr>
        </thead>
        <tbody>
    {% for post in posts %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ post.title }}</td>
                <td>{{ post.author }}</td>
                <td>{{ post.update_date }}</td>
                <td><a class="btn btn-info btn-sm" href="../public/index.php?p=managePost&amp;action=posteToUpdate&amp;id={{ post.post_id }}">modifier</a></td>
                <td><a class="btn btn-success btn-sm data-toggle="tooltip" data-placement="top" title="validation de commentaires"" href="../public/index.php?p=commentsToValidate&amp;id={{ post.post_id }}">commentaires</a></td>
                <td><a class="btn btn-primary btn-sm" href="../public/index.php?p=managePost&amp;action=deletePost&amp;id={{ post.post_id }}">suprimer</a></td>
            </tr>
    {% endfor %}
    </tbody>
    </table>
    {% endblock %}
    {% block footer %}
    {{ parent() }}
    {% endblock %}
        
   