{% extends 'layout.twig' %}
{% block Breadcrumb %}<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="../public/index.php?p=home">Accueil</a></li>
      <li class="breadcrumb-item active" aria-current="page">liste d'arcitcles</li>
    </ol>
  </nav>{% endblock %}




{% block content %}

<div class="container"></div>
<h2 class="ml-5 text-center">Nous derniers articles</h2>
<div class="row d-flex justify-content-center ">
    {% for post in posts %}
    
    <div class="col-sm-8 mt-4">
      <div class="card border-info">
          <div class="card-body">
            <h4 class="card-title bg-light p-2">{{ post.title | e }}&nbsp;&nbsp;<small class="text-muted"> article N° :&nbsp;{{ loop.index }}</small></h4>
              <p><small class="text-muted"><i class="fa fa-clock-o text-danger" aria-hidden="true"></i>&nbsp; mis à jour le :&nbsp;&nbsp; {{ post.update_date }}&nbsp;&nbsp;|&nbsp;&nbsp;
                <em> <i class="fa fa-pencil-square-o text-danger" aria-hidden="true"></i>&nbsp;Auteur:&nbsp;</em> 
                {{post.author}}</small></p>
              <p class="card-text">{{ post.chapo }}</p>
              <a class="btn btn-primary" href="index.php?p=post&amp;id={{ post.post_id }}" role="button">En savoir plus ...</a>
          </div>
        </div>
      </div>
    {% endfor %}
   
</div>
{% endblock %}
{% block pagination %}
<div class="row justify-content-center mt-5">
    
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
   
</div>
{% endblock %}
{% block footer %} 
{{ parent() }}
{% endblock %}




