{% extends 'layout.twig' %}
{% block navbar %}
{% if session.user_id is empty %}
{{ parent() }}
{% elseif session %}
{% include "navAcount.php" %}
{% endif %}
{% endblock %}
{% block Breadcrumb %}<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="../public/index.php?p=home">Accueil</a></li>
      <li class="breadcrumb-item"><a href="../public/index.php?p=posts">articles</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
    </ol>
  </nav>{% endblock %}
{% block content %}

<div class="container text-justify">
    <article class="row align-items-center mx-5">
        <header class="row d-block">
            <div class="row">
                <h1 class="col-xs-10 col-md-12 mb-3 ml-3 d-block text-left mt-5 mb-4">{{ post.title }}</h1>
                <h5 class="col-xs-10 col-md-12 mb-3 ml-3 d-block">
                    <small class="text-muted">
                        <em>
                            <i class="fa fa-clock-o text-danger" aria-hidden="true"></i>
                            &nbsp; mis à jour le :&nbsp;&nbsp;
                        </em>
                     {{post.update_date}}&nbsp;&nbsp;|&nbsp;&nbsp;
                     <em>
                         <i class="fa fa-pencil-square-o text-danger" aria-hidden="true"></i>&nbsp;
                         Auteur:&nbsp;&nbsp;
                        </em> 
                     {{post.author}}
                    </small>
                </h5>
            </div>
            
        </header>
        <div class="row p-3">
            <h4>{{ post.chapo | capitalize }}</h4>    
        </div>
        <div class="row mt-5  mb-5 bg-light col-xs-10 col-md-12 mb-3 mx-3 d-block">
            {{post.content | nl2br }}
        </div>

        <footer class="row my-4">
            <h3 class="col-xs-10 col-md-12 mb-3 ml-3 d-block">Laissez-nous un commentaire</h3>
            {% if succes %}
            <div class="alert alert-success ml-3"><p>Votre commentaire à été bien enregister, en attente de validation </p><hr></div>
            {% else %}
            <div class="text-info ml-3"><p>Le remplissaage de tous les champs précédés par <span class="text-danger">*</span>est obligatoire</p><hr></div>
            {% endif %}
            <form class="col-xs-10 col-md-12 mb-3 ml-3 d-block" action="../public/index.php?" method="post">
                {% if session %}
                <p>
                    <label class="d-block mb-0" for="username">Votre nom</label>
                    <input  type="text" name="username" id="username" value="{{session.username}}" readonly>
                </p>
                {% else %}
                <p>
                    <label class="d-block mb-0" for="username">Votre nom<span class="text-danger">*</span></label>
                    <input  type="text" name="username" id="username">
                </p>  
                {% endif %}
                <p>
                    <label class="d-block mb-0" for="comment">Votre commentaire</label>
                    <textarea name="comment" rows="8" cols="45"></textarea>
                </p>
                <p><input type="hidden" name="id" value="{{ post.post_id }}"></p>
                <p><input type="hidden" name="p" value="post"></p>
                <p>
                    <input type="submit" name="btn" value="laisser un commentaire" class="btn btn-primary">
                    <input class="btn btn-primary" type="reset" value="réinitialiser">
                </p>
            </form>
        </footer>
    </article>
    <div class="row mx-5">
        {% if comments %}
        <h3>Liste de commentaires concernant l'article : </h3>
        {% endif %}
        <ul class="list-unstyled">
            {% for comment in comments %}
            
                <li class="media my-4 bg-light w-80 l-5 border">
                    <img src="../public/img/mypic.png" class="mr-3 rounded-circle img-thumbnail imgtosmall" alt="...">
                    <div class="media-body">
                        <p>
                            <span class="font-weight-bold">envoyé le :</span>
                            {{comment.coment_date}} 
                            <span class="font-weight-bold">par :</span>
                            {{ comment.commented_by }}
                        </p>
                        <hr>
                        <h5 class="mt-0 mb-1">{{ comment.author }}</h5>
                        <p class="font"> {{ comment.content }} </p>
                    
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
{% block pagination %}
{% endblock %}
{% block footer %} 
{{ parent() }}

{% endblock %}




